<footer class="footer">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est deleniti omnis earum a modi tempora dolore magnam! Maiores vitae dolore laborum architecto quos eveniet optio perferendis, sunt laboriosam sequi animi?</p>
</footer>