<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Webpack workflow</title>
</head>
<body>

    {{> partials/navigation }}

    <h1>Webpack, sass & template engine</h1>
    <h2>Subtitle here</h2>
    <img src="static/img/logo.png" alt="Webpack Logo">

    {{> partials/footer }}

</body>
</html>